[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
django-tenants = "*"
django-polymorphic = "*"
dj-database-url = "*"
gunicorn = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.5"

[dev-packages]
